@use "sass:color";
@use "sass:math";
$left-color: #f5e5b8;
$right-color: #e9d08d;
$body-color: #f0efe0;
$header-color: #283618;
$border-color: rgb(200, 200, 200);
$label-color: rgb(235, 232, 232);
$footer-color: #dbdac4;
$button-color: #ffffff;
$steps: 5;

@mixin card-colors($start-color, $end-color, $steps) {
  @for $i from 1 through $steps {
    .card:nth-child(#{$i}) {
      $percentage: math.div($i - 1, $steps - 1) * 100%;
      background: color.mix($end-color, $start-color, $percentage);
    }
  }

  .card:nth-child(n + #{$steps + 1}) {
    @for $i from 1 through $steps {
      &:nth-child(#{$steps}n + #{$i}) {
        $percentage: math.div($i - 1, $steps - 1) * 100%;
        background-color: color.mix($end-color, $start-color, $percentage);
      }
    }
  }
}

@include card-colors($left-color, $right-color, $steps);

body {
    background: $body-color;
    font-family: "B612", sans-serif;
}

header {
    width: 100%;
    height: 100px;
    background: $header-color;
    display: flex;
    align-items: center;
    
    .left {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;

        h1 {
            margin-left: 20px;
            color: $button-color;
        }

        img {
            height: 80%;
            margin-left: 10px;
        }
    }

    button {
        margin-right: 25px;
        background: $button-color;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 18px;
        border: 1px solid $border-color;

        &:hover {
            background: color.scale($button-color, $lightness: -10%);
        }
    }
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 333px);
    width: 1000px;
    margin: auto;
    row-gap: 25px;
    margin-bottom: 100px;

    .card {
        width: 300px;
        height: 615px;
        border: 1px solid $border-color;

        .imgcont {
            position: relative;
            height: 300px;
            display: flex;
            justify-content: center;
            margin-top: 15px;

            img {
                height: 100%;
                max-width: 100%;
            }

            .label {
                position: absolute;
                background-color: $label-color;
                font-size: 20px;
                top: -30px;
                left: 5px;
                border: 1px solid $border-color;
            }
        }

        h3, .text {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

footer {
    height: 200px;
    background: $footer-color;
    border: 2px solid $border-color;
    display: flex;
    align-items: center;
    
    h4 {
        margin-left: 25px;
    }
}

.head1 {
    width: 1000px;
    margin: auto;
}
