@use "sass:math";
@use "sass:color";
@import "node_modules/bootstrap/scss/bootstrap.scss";
$left-color: #f5e5b8;
$body-color: #f0efe0;
$header-color: #283618;
$border-color: #c8c8c8;
$label-color: #ebe8e8;
$footer-color: #dbdac4;
$button-color: #ffffff;
$steps: 5;

@mixin card-colors($start-color, $steps) {
    @for $i from 1 through $steps {
        $percentage: math.div($i - 1, $steps - 1) * 10%;
        .row > div:nth-child(#{$i}) .custom-card,
        .row > div:nth-child(#{$steps}n + #{$i}) .custom-card {
            background-color: color.scale($start-color, $lightness: -$percentage);
        }
    }
}

@include card-colors($left-color, $steps);

body {
    background: $body-color;
    font-family: "B612", sans-serif;
}

nav {
    height: 100px;
    background: $header-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .left {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;

        h1 {
            margin-left: 20px;
            color: $button-color;
        }

        img {
            height: 80%;
            margin-left: 150px;
        }
    }

    button {
        margin-right: 25px;
        background: $button-color;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 18px;
        border: 1px solid $border-color;
        margin-right: 150px;

        &:hover {
            background: color.scale($button-color, $lightness: -7%);
        }
    }
}

.container {
    max-width: 1000px;

    .row {
        margin-bottom: 30px;
        .col-lg-4, .col-md-6, .col-sm-12 {
            .custom-card {
                border: 1px solid $border-color;
                padding: 3px;
                height: 100%;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                transition: transform 0.2s ease, box-shadow 0.2s ease;

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
                }

                .imgcont {
                    position: relative;
                    height: 300px;
                    display: flex;
                    justify-content: center;
                    margin-top: 15px;

                    img {
                        height: 100%;
                        max-width: 100%;
                        object-fit: contain;
                    }

                    .label {
                        position: absolute;
                        background-color: $label-color;
                        font-size: 18px;
                        top: -15px;
                        left: 0;
                        border: 1px solid $border-color;
                        padding: 2px 6px;
                    }
                }

                .card-body {
                    display: flex;
                    flex-direction: column;

                    .card-title, .card-text, .btn {
                        margin-left: 10px;
                        margin-right: 10px;
                    }

                    .btn {
                        margin-top: auto;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .hyper {
            margin-top: auto;
            margin-bottom: 15px;
        }
    }
}


footer {
    height: 200px;
    background: $footer-color;
    border: 2px solid $border-color;
    display: flex;
    align-items: center;
    
    h4 {
        width: 1000px;
        margin: auto;
    }
}

.head1 {
    width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 150px;
}